@model List<DTOs.Objects.Category>
@{
    ViewData["Title"] = "Display";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="px-5">
    <table class="table table-striped custom-table-data display" id="table">
        <thead>
            <tr>
                <th scope="col" class="align-middle text-center">ID</th>
                <th scope="col" class="align-middle text-center">Name</th>
                <th scope="col" class="align-middle text-center">Description</th>
                <th scope="col" class="align-middle text-center">Products</th>
                <th scope="col" class="align-middle text-center">Edit</th>
                <th scope="col" class="align-middle text-center">Delete</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (DTOs.Objects.Category category in Model)
                {
                    int productNum = 0;
                    string catDesc = "No Description";

                    if (category.Description is not null)
                    {
                        catDesc = category.Description;
                    }

                 
                    if (category.Products?.ToList() is not null)
                    {
                        productNum = category.Products.ToList().Count;
                    }

                    List<string> data = new();
                    data.Add(category.Id.ToString());
                    data.Add(category.Name);
                    data.Add(catDesc);
                    data.Add(productNum.ToString());


                    <tr>
                        <th class="align-middle text-center">@category.Id</th>
                        <th class="align-middle text-center">@category.Name</th>
                        <th class="align-middle text-center">@catDesc</th>
                        <th class="align-middle text-center">@productNum</th>
                        <td class="align-middle text-center"><a asp-action="Edit" asp-controller="Products" asp-route-id="@category.Id" class="btn btn-outline-primary px-4">Edit</a></td>
                        <td class="align-middle text-center"><a asp-action="Delete" asp-controller="Products" asp-route-id="@category.Id" class="btn btn-outline-danger">Delete</a></td>
                    </tr>

                }
            }

        </tbody>
    </table>


</div>



@section Scripts {
    <script src="~/js/DisplayCategories.js"></script>
}

