@model List<DTOs.Objects.Product>

@{
    ViewData["Title"] = "Display";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="px-5">
    <table class="table table-striped custom-table-data display" id="table">
        <thead>
            <tr>
                <th scope="col" class="align-middle text-center">Serial</th>
                <th scope="col" class="align-middle text-center">Image</th>
                <th scope="col" class="align-middle text-center">Category</th>
                <th scope="col" class="align-middle text-center">Name</th>
                <th scope="col" class="align-middle text-center">Size</th>
                <th scope="col" class="align-middle text-center">Color</th>
                <th scope="col" class="align-middle text-center">Price</th>
                <th scope="col" class="align-middle text-center">Stock</th>
                <th scope="col" class="align-middle text-center">Description</th>
                <th scope="col" class="align-middle text-center">Related</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (DTOs.Objects.Product product in Model)
                {
                    <tr>
                        <th scope="row" class="align-middle text-center">@product.Serial</th>
                        <td class="align-middle text-center"><img src="~/Data/Products/@product.ImagePath" class="img-fluid rounded product-image" /></td>
                        <td class="align-middle text-center">@product.Category</td>
                        <td class="align-middle text-center">@product.Name</td>
                        <td class="align-middle text-center">@product.Size</td>
                        <td class="align-middle text-center">@product.Colors</td>
                        <td class="align-middle text-center">@product.Price</td>
                        <td class="align-middle text-center">@product.Stock</td>
                        <td class="align-middle text-center">@product.Description</td>
                        <td class="align-middle text-center"><a class="btn btn-primary">Related</a></td>
                    </tr>
                }
            }

        </tbody>
    </table>


</div>


@section Scripts{
    <script src="~/js/DisplayProducts.js"></script>
}